
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: solid 1px;
}

.trivia-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100vw;
  max-width: 800px;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  overflow-wrap: break-word;
}

.question {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.btn-question {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  margin: 0.5rem;
}

.btn-question:hover {
  background-color: black;
  color: white;
}

.answer {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.correct-answer {
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.btn-next {
  border: solid 1px black;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem auto 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
  background-color: purple;
  color: white;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.score-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.score-number {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}

.btn-retry {
  border: solid 1px black;
  border-radius: 25px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: purple;
  color: white;
  margin-top: 1rem;
  display: block !important;
  width: 100px;
  text-align: center;
  margin-left: 25px;
}


@media only screen and (max-width: 768px) {
  .trivia-container {
    height: 100%;
    border: none;
  }
  
  .question {
    font-size: 1.5rem;
  }
  
  .answer {
    font-size: 1rem;
  }
  
  .btn-question {
    font-size: 0.8rem;
    padding: 0.5rem;
    border: solid 1px;
    box-shadow: none;
  }
  
  .btn-next {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}

@keyframes flash {
  0% {
    background-color: purple;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: purple;
  }
}

@media only screen and (max-width: 375px) {
  .trivia-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




